<app-fh-sub-header (searchEvent)="search($event)"></app-fh-sub-header>
<div class="grid-container grid-row margin-top-4">
  <div class="grid-col-3">
    <div class="margin-bottom-4">
      <app-fh-nav-header [userOrg]="{}" (editClicked)="onEditOrg({})"></app-fh-nav-header>
    </div>
    <app-fh-filters (filterChange)="onFilterChange($event)"></app-fh-filters>
  </div>
  <div class="grid-col-8" *ngIf="!loading; else spinner">
    <app-fh-page-controls 
      [page]="paginationModel"
      (pageChange)="onPageChange($event)"
      (sortChange)="onSortChange($event)">
    </app-fh-page-controls>
    <sds-search-result-list [model]="searchResults?.orglist">
      <ng-template #resultContent let-org>
        <app-fh-result-card [org]="org" (editOrg)="onEditOrg($event)"></app-fh-result-card>
      </ng-template>
    </sds-search-result-list>
  </div>
  <ng-template #spinner>
    <div class="searching"><fa-icon size="2x" [icon]="['fas', 'sync']" [spin]="true"></fa-icon></div>
    
  </ng-template>
</div>
