.container {
  background-color: white;
  border: 1px solid #d8d8d8;
  box-shadow: 0 14px 24px 0 rgba(0,0,0,0.06);
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
