<div class="sds-navbar border-bottom border-base-lighter">
  <div class="sds-navbar__content">
    <div class="grid-row">
      <div class="grid-col-12 tablet-lg:grid-col-auto display-flex flex-align-center margin-bottom-1 tablet-lg:margin-bottom-0">
        <button class="sds-button sds-button--circular" [routerLink]="'/fh'"><span class="sr-only">Back</span>
          <fa-icon [icon]="['fas', 'chevron-left']">
          </fa-icon>
        </button>
        <h1 class="font-heading-md text-semibold tablet-lg:width-mobile">Federal Hierarchy</h1>
      </div>
    
      <div class="grid-col-12 tablet-lg:grid-col-fill display-flex">
        <div class="tablet-lg:order-1" *ngIf="isSuperAdmin">
          <button class="usa-button ">Create Department</button>
        </div>
        <div class="flex-fill">
          <div class="margin-x-105 margin-top-05 tablet:margin-top-0">
            <sds-search [(ngModel)]="model" [searchSettings]="searchSettings" (ngModelChange)="onSearch($event)">
            </sds-search>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>